# Ignore output files.
**/_site/

# Ignore temp directories.
**/tmp/

# Ignore Markdown and YAML content for now.
content/**/*.md
content/**/*.yaml

# Ignore images.
images/

# Ignore CSS for now.
styles/
