    </article>
    
    <footer>
        <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /><br>
        Copyright &#169; 2012 The <a href="http://usejsdoc.org/about-contributors.html">contributors</a> to the JSDoc 3 user guides project<br>
        This site is <a href="https://github.com/jsdoc3/jsdoc3.github.com">open source</a> and licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
	</footer>

	<script>prettyPrint()</script>
</body>
</html>
