{%- extends 'layout.njk' -%}

{%- macro formatTag(tagName, tagType) -%}
  {%- if tagType == 'inlineTag' -%}
    {@{{ tagName }}}
  {%- else -%}
    @{{ tagName }}
  {%- endif -%}
{%- endmacro -%}

{%- macro generateSection(tocSection) -%}
  <ul>
    {%- for item in collections[tocSection.generated] | sortTags -%}
      {%- set tagName = item.data.tag -%}
      <li>
        <a href="{{ item.filePathStem }}">{{ formatTag(tagName, tocSection.generated) }}</a>
      </li>
    {%- endfor -%}
  </ul>
{%- endmacro -%}

{%- macro renderSection(tocSection) -%}
  <h2 id="{{ tocSection.section | slugify }}">{{ tocSection.section }}</h2>
  {%- if tocSection.generated -%}
    {{ generateSection(tocSection) }}
  {%- else -%}
    <ul>
      {%- for item in tocSection.contents -%}
        <li><a href="{{ item.path | default('') }}">{{ item.title | default('') }}</a></li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- block content -%}
  {% if title -%}
    <h1>{{ title }}</h1>
  {%- endif %}

  {%- block synonyms -%}
    {%- if synonyms | length -%}
      <h2 id="synonyms">Synonyms</h2>
      <ul>
        {% for synonym in synonyms -%}
          <li><code>{{ synonym }}</code></li>
        {%- endfor %}
      </ul>
    {%- endif -%}
  {%- endblock -%}
    
  {{ content | safe }}

  {%- if related | length -%}
    {%- set relatedLinks = related | relatedList(collections) -%}
    <h2 id="related-links">Related links</h2>
    <ul>
      {%- for relatedLink in relatedLinks -%}
        <li><a href="{{ relatedLink.path }}">{{ relatedLink.title }}</a></li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <!-- Additional content, GitHub ribbon -->
  <p>
    <a href="https://github.com/jsdoc/jsdoc" class="github-ribbon">Fork me on<br>GitHub</a>
  </p>
{% endblock %}
