:root {
    --background-color-light: #ffffff; 
    --background-color-dark: #1a202c; 
    --text-color-light: #1e293b; 
    --text-color-dark: #ffffff; 
  }
  
  
  body {
    background-color: var(--background-color-light);
    font-family: 'Inter', sans-serif; 
    margin: 0; 
  }
  
  .github-ribbon {
    background-color: #121621;
    top: 3.2em;
    right: -1em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 0 1px #1d212e inset, 0 0 2px 1px #fff inset, 0 0 1em #888;
    -moz-box-shadow: 0 0 0 1px #1d212e inset, 0 0 2px 1px #fff inset, 0 0 1em #888;
    box-shadow: 0 0 0 1px #1d212e inset, 0 0 2px 1px #fff inset, 0 0 1em #888;
    color: rgba(255, 255, 255, 0.90)!important;
    display: block;
    padding: 10px 30px; 
    position: absolute;
    font-weight: bold;
    font-size: 0.82em; 
    text-align: center;
    text-decoration: none;
    text-shadow: 1px -1px 8px rgba(0, 0, 0, 0.60);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 9999; 
  }
  
  dd {
    margin: 0; 
  }
  
  pre {
    margin: 0; 
  }
  
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--background-color-dark);
    }
  }
  