.github-ribbon{
  background-color:#121621;
  top:2em;
  right:-3.5em;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  transform:rotate(45deg);
  color:rgba(255,255,255,0.90)!important;
  padding:.5em 4.5em;
  position:fixed;
  font:bold .9em sans-serif;
  text-align:center;
  text-decoration:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  z-index: 300;
}

@media (max-width: 768px) {
  .github-ribbon{
    font-size: .65em;
  }
}