:root {
  --text-color-light: #1e293b; 
  --text-color-dark: #ffffff; 
  --tomorrow-blue: #6366f1; 
  --tomorrow-gray: #6b7280; 
  --tomorrow-green: #48bb78; 
  --tomorrow-orange: #f59e0b; 
  --tomorrow-purple: #9f7aea; 
  --tomorrow-red: #ef4444; 
  --tomorrow-yellow: #f9ca24; 
}

.hljs,
.no-hljs {
  color: var(--text-color-light);
  font-family: 'Inter', sans-serif; 
}

.hljs-code,
.hljs-formula {
  color: var(--text-color-light);
}

.hljs-comment,
.hljs-quote {
  color: var(--tomorrow-gray);
}

.hljs-deletion,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-property,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-substr,
.hljs-tag,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable,
.hljs-variable.language_ {
  color: var(--tomorrow-red);
}

.hljs-built_in,
.hljs-char.escape_,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-params,
.hljs-type {
  color: var(--tomorrow-orange);
}

.hljs-attribute {
  color: var(--tomorrow-yellow);
}

.hljs-addition,
.hljs-attr,
.hljs-bullet,
.hljs-meta .hljs-string,
.hljs-string,
.hljs-subst,
.hljs-symbol,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--tomorrow-green);
}

.hljs-punctuation,
.hljs-section,
.hljs-title {
  color: var(--tomorrow-blue);
}

.hljs-keyword,
.hljs-meta.hljs-keyword,
.hljs-selector-tag,
.hljs-title.class_ {
  color: var(--tomorrow-purple);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}


@media (prefers-color-scheme: dark) {
  :root {
    --text-color-light: #ffffff; 
    --background-color-light: #1e293b; 
  }

  body {
    background-color: var(--background-color-light);
  }

  .github-ribbon {
    background-color: #1d212e; 
  }

  pre {
    background-color: #1d212e; 
  }
  .hljs,
  .no-hljs {
    color: var(--text-color-dark); 
    font-family: 'Inter', sans-serif; 
  }
  
  .hljs-code,
  .hljs-formula {
    color: var(--text-color-dark); 
  }
  
  .hljs-comment,
  .hljs-quote {
    color: var(--tomorrow-gray);
  }
  
  .hljs-deletion,
  .hljs-meta .hljs-keyword,
  .hljs-name,
  .hljs-property,
  .hljs-regexp,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-selector-pseudo,
  .hljs-substr,
  .hljs-tag,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-variable,
  .hljs-variable.language_ {
    color: var(--tomorrow-red);
  }
  
  .hljs-built_in,
  .hljs-char.escape_,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-params,
  .hljs-type {
    color: var(--tomorrow-orange);
  }
  
  .hljs-attribute {
    color: var(--tomorrow-yellow);
  }
  
  .hljs-addition,
  .hljs-attr,
  .hljs-bullet,
  .hljs-meta .hljs-string,
  .hljs-string,
  .hljs-subst,
  .hljs-symbol,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: var(--tomorrow-green);
  }
  
  .hljs-punctuation,
  .hljs-section,
  .hljs-title {
    color: var(--tomorrow-blue);
  }
  
  .hljs-keyword,
  .hljs-meta.hljs-keyword,
  .hljs-selector-tag,
  .hljs-title.class_ {
    color: var(--tomorrow-purple);
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-doctag,
  .hljs-strong {
    font-weight: bold;
  }
  

}

