body {
    font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

a, a:visited, a:active {
    color: #605C89;
}

header {
    background-color: #EBEBEB;
    color: #006FBB;
    margin: 0;
    margin-bottom: 32px;
    padding: 18px;
    font-size: 2.4em;
    font-weight: bold;
    border-bottom: 1px #C6C6C6 solid;
}

header a, header a:visited {
    color: #006FBB;
    text-decoration: none;
}

article {
    margin: 18px;
}

footer {
    margin: 16px;
    margin-top: 32px;
    font-style: italic;
    font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
    color: #B93A38;
}

h1 {
    font-size: 1.428em;
    text-indent: 0;
}

h2 {
    font-size: 1.285em;
    text-indent: 1%;
}

h3 {
    font-size: 1.142em;
    text-indent: 2%;
}

h4 {
    font-size: 1em;
    text-indent: 3%;
}

h5 {
    font-size: 0.857em;
    text-indent: 4%;
}

h6 {
    font-size: 0.714em;
    text-indent: 5%;
}

p {
    text-indent: 2%;
}

figure pre code {
    font-size: 0.857em;
}

figcaption {
    font-weight: bold;
}

dl {
    margin-left: 2%;
    padding-left: 0;
}

dt {
    margin-left: 16px;
    padding-left: 4px;
    margin-top: 8px;
}

dt a, dt a:visited {
    color: #3E00B6;
}

dd {
    margin-left: 16px;
    padding-left: 4px;
}

ol, ul {
    margin-left: 2%;
}

code {
    font: 1em Consolas, "Lucida Console", Monaco, monospace;
    background-color: #DEDEDE;
}

pre {
    display: block;
    border: 1px solid #999;
    margin: 12px;
    padding: 8px;
    white-space: pre-wrap;
    background-color: #DEDEDE;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #999;
}

th {
    background-color: #DEDEDE;
    color: #B93A38;
}

.example dt {
    font-weight: bold;
}

.license-badge {
    border-width: 0;
    text-decoration: none;
}
